html {
    background-color: rgb(238, 210, 159);
}
h1 {
    font-size: 3vw;
    color: rgb(190, 128, 13);
    -webkit-text-stroke: 2px rgb(150, 97, 0);
    text-align: center;
}

aside {
    float: right;
    margin-top: 20%;
    margin-right: 10%;
}

#clear, #done {
    font-size: 1.5vw;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid rgb(150, 97, 0);
    background-color: rgb(190, 128, 13);
    font-weight: bold;
}

#clear:hover, #done:hover {
    transform: scale(1.1);
}

#text-container {
    text-align: center;
    margin-top: 10%;
    font-size: 1.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#countdown {
    font-size: 2vw;
    text-align: center;
}

#pumpkin-container {
    position: relative;
    width: 90%;
    height: 500px;
    margin: auto;
}

img {
    position: absolute;
    margin: 0;
    width: 40%;
    height: 80vh;
}

#carve-layer {
    position: absolute;
    margin: 0;
    width: 40%;
    height: 80vh;
}
