body {
    background-color: rgb(203, 203, 255);
}

h1 {
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(3, 3, 87);
    padding: 10px;
}

#poem {
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(3, 3, 87);
    padding-left: 200px;
}

img {
    position: absolute;
    top: 150px;
    left: 800px;
    width: 350px;

}