.custom-header {
    background-image:url("../ica-huacachina.png");
    background-position: center center;
    background-size: cover;
}

.custom-dark-glow {
    color:cornsilk;
    text-shadow:1px 1px 10px #000, 1px 1px 10px rgb(29, 29, 29);
}
h1, h2, h3 {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-weight: bold;
}
body {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

ol {
    text-align: left;
}

.my-custom-color1 {
    background-color: rgb(252, 246, 212);
}
.my-custom-color2 {
    background-color: rgb(231, 218, 144);
}

.my-custom-color3 {
    background-color: rgb(252, 246, 212);
}

.tab-content {
    background-color: white;
    padding: 10px;
}

.container1-custom-color {
    background-color: grey;
    color: black;
    border-radius: 5px;
}

.footer {
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
}

.nav-item:hover {
    color: black;
}

